#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.DropDownToggle {
  cursor: pointer;
  border-radius: 0.3rem;
  transition: color 0.6s, background-color 0.6s;
  /* background-color: red; */
}

.DropDownToggle:hover {
  outline: 2px black solid;
}
.Dropdown-Menu{
  min-width: 2rem !important;
  transform: translate(-20px, 26px) !important;
}
.loadingText{
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.1);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
.colorPick{
  width: 15px;
  height: 15px;
}
.pickYellow{background-color: #e9e9c0;}
.pickPink{background-color: #f4afb4;}
.pickRed{background-color: #df3b57;}
.pickGreen{background-color: #bbe1c3;}
.pickBlue{background-color: #09c;}